*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url("bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
}

@media (max-width: 1440px){
    main{
        width: 100%;
        max-width: 1300px;
        margin: 20px;
    }
}


#left h1, #left p{
    color: white;
}

section{
    max-width: 650px;
}

#left{
    width: 575px;
    padding-right: 5px;
}

#right{
    margin-left: 5px;
}

h1{
    font-size: 3em;
    line-height:1;
    padding-bottom: 1em;
}

form{
    height: 480px;
    background-color: white;
    margin-top: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);

}

#right div{
    color: white;
    font-weight: 700;
    background-color: hsl(248, 32%, 49%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

#right span{
    font-weight: 10;
}

form input{
    width: 85%;
    height: 50px;
    margin: 10px;
    border-radius:5px;
}

form button{
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background-color: hsl(154, 59%, 51%);
}

form #claim, form p{
    width: 90%;
    height: 50px;
    margin: 10px;
    border-radius:5px;
}

form #fname, form #lname, form #email, form #pw{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 2em;
    border: 1px solid;
}

#terms{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    color: grey;
    font-size: 14px;
}

#terms span{
    color: red;
    font-weight: 600;
}

@media (max-width: 375px){
    main{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    section{
        width: 100%;
    }
    #left{
        width: 100%;
    }
    #left h1, #left p{
        text-align: center;
    }

    #left h1{
        font-size: 2em;
    }

    #left p{
        padding: 0 12px;
        margin-bottom: 3.5em;
    }
    #terms{
        padding: 0 20px;
    }
}
